*{
    color: black;
}
:root{
    --firstcolor    :rgb(255, 198, 91);
    --hoverdcolor   :orange;
}
body{
    margin: 0;
    padding: 0;
    font-family: cursive;
    font-size: 22px;
    background-image: url(images/i.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);    
}
#background-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.logo-div a{
    text-decoration: none;
}
.list{
    float: right;
}
.logo{
    width: 52px;
    height: 52px;
}
a{
    text-decoration: none;
}
.logo-div{
    display: inline-flex;
    margin: 20px 0 0 120px;
    font-size: 32px;
}
.list-li{
    display: inline-flex;
    margin-right: 20px;
}
.b1{
    margin-right: 96px;
    width: 100px;
    height: 40px;
    background-color: var(--firstcolor);
    border: none;
    outline: none;
    border-radius: 8px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    transition: 1s;

}
.b1:hover{
    background-color: var(--hoverdcolor);
}
.center-text{
    position: absolute;
    top: 32%;
    left: 27%;
}
.search{
    width: 19.4cm;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 23%;
    outline: none;
    border-radius: 4px;
    border: none;
    -webkit-border-radius: 4px;
}
footer ul button{
    list-style: none;
    background-color:var(--firstcolor);
    border: none;
    outline: none;
    width: 80px;
    height: 80px;
    position: relative;
    top: 280px;
    left: 410px;
    cursor: pointer;
}
.images{
    width: 40px;
    height: 30px;
}
footer>ul>button{
    border-radius: 8px;
    transition: 1s;
}
footer>ul>button:hover{
    background-color:var(--hoverdcolor)  ;
}
.search-button{
    width: 140px;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color:var(--firstcolor);
    -webkit-border-radius: 6px;
    position: relative;
    top: 249px;
    left: 904px;
    transition: 1s;
    cursor: pointer;
}
.search-button:hover{
    background-color: var(--hoverdcolor) ;

}
.list-li:hover{
    transition: 1s;
    color: rgb(159, 155, 155);
    position: relative;
    top: 5px;
}